@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../fonts/Inter-SemiBold.ttf") format("truetype");
}

:root {
    --c-main-black: #101828;
    --c-main-black02: rgba(16, 24, 40, 0.2);
    --c-main-black06: rgba(16, 24, 40, 0.6);
    --c-main-light: #F2F4F7;
    --c-main-red: #E44848;
    --c-main-lighter: #F7F7F7;
    --c-main-grey: #475467;
    --c-main-yellow: #FFC531;
 }


body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  /* display: flex;
  align-items: center; */
  min-width: 320px;
  padding: 15px;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}